# IDE
.vs
.vscode
.idea

# Build artifacts
bin/
obj/
build/
**/Makefile
*.make
*.vcxproj
*.vcxproj.*

# Dependencies
deps/**


# Benchmark results
benchmarks/results/*

# Logs
debug-logs/*

engine_log*


#Python cache
*__pycache__*


# Documentation
html/
latex/
