# IDE
.vs
.vscode
.idea

# Build artifacts
bin/
obj/
build/
**/Makefile
*.make
*.vcxproj
*.vcxproj.*

# Dependencies
deps/**


# Benchmark results
benchmarks/results/*

# Logs
debug-logs/*

engine_log*


#Python cache
*__pycache__*

fastchess_compliance.bat
fastchess_vs_sf.bat
create_compile_commands.bat
run_stokcfish.bat
run_valgrind.sh

# Documentation
html/
latex/
